body {
  padding: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
form p {
  background: #90c3d4;
  padding:20px;
  text-align: center;
  font-weight:bold;
  border-radius: 3px;
}
.row {
  padding:10px;
}
.time_box {
  border-radius:4px;border:1px solid #ccc;line-height: 1.42857143;
}
span {
  font-weight:bold;
}